# To switch protocol in your local configuration, use
# $ git remote set-url origin git@git.codeaurora.org:/external/ubicom/<repo>

[submodule "src/qemu"]
	path = src/qemu
	url = https://source.codeaurora.org/external/ubicom/ubi32-qemu
	branch = ubi32
[submodule "src/binutils-gdb"]
	path = src/binutils-gdb
	url = https://source.codeaurora.org/external/ubicom/ubi32-binutils-gdb
	branch = ubi32
[submodule "src/cgen"]
	path = src/cgen
	url = https://source.codeaurora.org/external/ubicom/ubi32-cgen
	branch = ubi32
