# To switch protocol in your local configuration, use
# $ git remote set-url origin git@git.codeaurora.org:/external/ubicom/<repo>

[submodule "src/qemu"]
	path = src/qemu
	url = git@git.codeaurora.org:/external/ubicom/ubi32-qemu
	branch = ubi32
[submodule "src/binutils"]
	path = src/binutils
	url = git@git.codeaurora.org:/external/ubicom/ubi32-binutils-gdb
	branch = ubi32-binutils
[submodule "src/gdb"]
	path = src/gdb
	url = git@git.codeaurora.org:/external/ubicom/ubi32-binutils-gdb
	branch = ubi32-gdb
[submodule "src/gcc"]
	path = src/gcc
	url = git@git.codeaurora.org:/external/ubicom/ubi32-gcc
	branch = ubi32
